.wodry-flipping {
    display: inline-block;
    position: relative;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transform-origin: 50% 0;
    /* transform-origin: top 1% -12; */
}
.wodry-flipping .front-face, .wodry-flipping .back-face {
    display: inline-block;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}
.wodry-flipping .front-face {
    /* position: absolute;
        left: 25%; */
        position: absolute;
left: 0%;
width: 100%;
top: -17px;
}
.wodry-flipping .back-face {
    /* position: relative;
    left: 25%; */
    position: absolute;
    left: 0%;
    width: 100%;
    top: 17px;
}

.front-face, .back-face {
    /* width: 150%;
    text-align: center; */
}

span {
    transition: all 400ms ease;
}
body {
  width: 800px;
  text-align: center;
  margin: 50px auto;
}

.flip-this-default{
  display: inline-block;
}

.flip-this > span {
  display: inline-block;
}

.dotted-bottom-border {
    border-bottom: 1px dotted #000;
}
